.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    min-height: 293px;
    align-items: center;
}

.header__menu {
    height: 100%;
    padding-top: 133px;
    padding-left: 50px;
}

.header__links-list {
    display: flex;
    gap: 31px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px; 
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 136px;
}

.address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    margin-right: 87px;
}

.address__link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px; 
}


.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 0;
}

.cover__title {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 155px;
    padding-bottom: 96px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.35;
    z-index: 0;
}

.aligned-text {
    display: block;
}

.uppercase-text {
    text-transform: uppercase;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;    
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 100%;
    z-index: 0;
}

.cover__description-text {
    width: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase; 
    word-spacing: 18.5px;
}

.bet-button {
    display: flex;
    align-items: center;
    justify-content: center;  
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    box-shadow: none;
    width: 336px;
    min-height: 51px;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
}

.lots__heading {
    padding-left: 64px;
    padding-top: 180px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 24px;
}

.lots__card-list-item {
    position: relative;
    display: block;
    width: 334px;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;    
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1px; 
    text-underline-offset: 3px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    z-index: 0;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    z-index: 0;
}


.lots__look-more-link {
    display: block;
    padding-left: 64px;
    padding-top: 30px;
    padding-bottom: 155px;
    font-size: 20px;
    font-weight: 400;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px; 
} 

.about {
    display: grid;
    grid-template-columns: 334px auto;
    align-items: center; 
    padding-left: 24px;
    padding-right: 24px;
}

.about__logo {
    display: flex; 
    justify-content: center;
    justify-self: center;    
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.about__logo-image {
    width: 148px; 
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 24px;
}

.about__text {
    grid-column: 2;
    font-size: 20px;
    font-weight: 400;
    padding-left: 24px;
    padding-top: 8px;
    padding-right: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.about_paragraph {
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 181px;
    margin-bottom: 82px;
}

.footer_address {
    justify-self: start;
}

.footer__menu-list {
    text-align: center;
    white-space: nowrap;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px; 
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
}
